* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%
}

body {
    padding: 0 3vw;
    min-height: 100vh;
    font-family: 'Roboto';
    font-size: 1rem;
    line-height: 150%;
    font-weight: 400;

    h1 {
        font-size: 3.5rem;
        line-height: 120%;
    }

    h2 {
        font-size: 2.5rem;
        line-height: 120%;
    }

    h3 {
        font-size: 1.5rem;
        line-height: 140%;
    }

    h4 {
        font-size: 1rem;
    }

    .text__medium {
        font-size: 1.125rem;
    }

    .text__regular {
        font-size: 1rem;
    }

    .text__small {
        font-size: 0.875rem;
    }

    .text__tiny {
        font-size: 0.75rem;
    }
}



.header {
    padding-top: 1vh;
    height: 100px;
    color: black;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    width: 70px;
    height: 70px;
    background-image: url("../assets/logo.png");
    background-size: cover;
}

.header__nav {
    display: flex;
    min-width: 33vw;
    justify-content: space-evenly;
    align-items: baseline;
    flex-wrap: nowrap;
}

.header__nav--accueil,
.header__nav--apropos,
.header__nav--menu {
    width: 63px;
    height: 17px;
    font-size: 16px;
    color: black;
    text-decoration: none;
    border: none;
    cursor: pointer;
    gap: 30px;
}

.header__nav--reservation {
    width: 104px;
    height: 41px;
    background-color: black;
    color: aliceblue;
    font-size: 16px;
}

.main {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .main article {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {}

.main article {
    padding: 10vh 0;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh 0;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    section {
        display: flex;
        flex-direction: column;

        div {
            display: flex;
        }
    }

    .main__content--photoPaysage {
        /* flex: 1; */
        width: 100%;
        max-height: 90vh;
        object-fit: cover;
    }

    .main__content--photoPortrait {
        /* flex: 1; */
        height: 82vh;
        max-width: 36vw;
        object-fit: cover;
    }

    
    .main__apropos--text .man__menu--text {
        padding-right: 9.3vw;
    }

}

.main__accueil {
    flex-direction: column;
    text-align: center;
}

.main__accueil--contact {
    width: 104px;
    height: 41px;
    background-color: whitesmoke;
    color: black;
    font-size: 16px;
}

.main__accueil--voirMenu {
    width: 104px;
    height: 41px;
    background-color: black;
    color: aliceblue;
    font-size: 16px;
}

.main__contact--icon {
    #Mail {
        content: url ();
    }
}

footer {
    background: white;
    padding: 80px 0 50px 0;
}

.footer-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 20vh;
    align-items: start;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.footer-container h3,
h5 {
    margin-bottom: 20px;
}

.footer-container ul {
    list-style: none;
    padding: 0;
}

.footer-container ul li {
    margin-bottom: 5px;
}

.footer-container ul li a {
    text-decoration: none;
    color: #333;
}

.accueil,
.apropos,
.menu,
.email,
.tel,
.adresse,
.fb,
.insta,
.x,
.linkedin,
.ytb {
    font-size: 13px;
}

.newsletter form {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.newsletter input {
    padding: 8px;
    flex: 1;
    border: 1px solid black;
}

.newsletter button {
    padding: 8px 15px;
    background: white;
    color: black;
    border: 1px solide black;
    cursor: pointer;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.legal a {
    margin-left: 15px;
    text-decoration: none;
    color: #333;
}