/* Regles générales de style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%
}

body {
    padding: 0 3vw;
    min-height: 100vh;
    font-family: 'Roboto';
    font-size: 1rem;
    line-height: 150%;
    font-weight: 400;

    h1 {
        font-size: 3.5rem;
        line-height: 120%;
    }

    h2 {
        font-size: 2.5rem;
        line-height: 120%;
    }

    h3 {
        font-size: 1.5rem;
        line-height: 140%;
    }

    h4 {
        font-size: 1rem;
    }

    .text__medium {
        font-size: 1.125rem;
    }

    .text__regular {
        font-size: 1rem;
    }

    .text__small {
        font-size: 0.875rem;
    }

    .text__tiny {
        font-size: 0.75rem;
    }
}

.mailto{
    color: black;
}

ul {
    list-style: none;
}

/* Header */
.header {
    padding-top: 1vh;
    height: 100px;
    color: black;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    width: 70px;
    height: 70px;
    background-image: url("../assets/logo.png");
    background-size: cover;
}
/* nav desktop */
.header__nav {
    display: none;
    min-width: 33vw;
    justify-content: space-evenly;
    align-items: baseline;
    flex-wrap: nowrap;
}
/* nav mobile */
.header__nav--burger {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background: rgb(212, 214, 215);
    padding: 10px;
    border-radius: 5px;
    gap:3vh;
}

/* Cacher la checkbox */
.menu-toggle {
    display: none;
}
/* faire apparaitre la liste nav lorsque le burger est cliqué */
.menu-toggle:checked+.menu-icon+.header__nav--burger {
    display: flex;
}

.menu-icon {
    display: block;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    background: white;
}

.header__nav--accueil,
.header__nav--apropos,
.header__nav--menu {
    width: 63px;
    height: 17px;
    font-size: 16px;
    color: black;
    text-decoration: none;
    border: none;
    cursor: pointer;
    gap: 30px;
}

.header__nav--accueil:hover,
.header__nav--apropos:hover,
.header__nav--menu:hover {
    transform: scale(1.2);

}

.header__nav--reservation {
    width: 104px;
    height: 41px;
    background-color: black;
    color: aliceblue;
    font-size: 16px;
}
.header__nav--reservation:hover {
    background-color: gray;
    transform: scale(1);
}

/* Mise en page du Main */
.main {
    display: flex;
    flex-direction: column;
}

.main__content {
    padding-block: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8vw;

    .main__content--photoPaysage {
        width: 100%;
        max-height: 90vh;
        object-fit: cover;
    }

    .main__content--photoPortrait {
        width: 100%;
        object-fit: cover;
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3vh;
    }
}
/* Block accueil */
.main__accueil {
    text-align: center;
    align-items: center;
}

.main__accueil--contact {
    width: 104px;
    height: 41px;
    background-color: whitesmoke;
    color: black;
    font-size: 16px;
}

.main__accueil--voirMenu {
    width: 104px;
    height: 41px;
    background-color: black;
    color: aliceblue;
    font-size: 16px;
}
/* Block contact */
.main__contact {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding-block: 5vh;
}

.main__accueil--voirMenu:hover,
.main__accueil--contact:hover {
    background-color: gray;
    transform: scale(1);
}


.main__contact--text {
    display: grid;
    width: 100%;
    gap: 3vh;

    ul {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 3vh;

        p {
            text-indent: 1.5rem;
        }
    }

    margin-bottom: 7vh;
}

.main__contact iframe {
    width: 100%;
    height: 100%;
}

/* Footer */
footer {
    display: grid;
    padding-block: 3vw;
    gap: 3vw;
    background: white;
}

.footer__top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    padding-bottom: 20px;

    ul {
        display: grid;
        grid-template-rows: repeat(3, min-content); 
        gap: 2vh;
    }

    a {
        text-decoration: none;
        color: #333;
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

a:hover{
    transform: scale(1.2);
}

.footer__top--newsletter form {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.footer__top--newsletter input {
    padding: 8px;
    flex: 1;
    border: 1px solid black;
}

.footer__top--newsletter button {
    padding: 8px 15px;
    background: white;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}
.footer__top--newsletter button:hover{
    background: gray;
    transform: scale(1);
}

.footer__top--infos {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 3vw;
    padding-right: 5vw;
    height: 100%;

    div {
        display: grid;
        grid-template-rows: min-content auto;
        gap : 3vh;
    }
    
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid black;
}

.footer__bottom--legal a {
    margin-left: 15px;
    text-decoration: none;
    color: #333;
}


/* Media query mobile first */
@media (min-width: 768px) {
    .header__nav {
        display: flex;
    }

    .menu-icon {
        display: none;
    }

    .main__content {
        flex-direction: row;

        div {
            display: flex;
        }
    }

    .main__accueil {
        flex-direction: column;

        section {
            max-width: 50vw;
        }
    }

    .main__content--photoPortrait {
        max-width: 40vw;
        height: 45vw;
    }

    .main__contact {
        display: flex;
        flex-direction: column;
    }

    .main__contact--text {
        grid-template-columns: 1fr 38vw;
    }

    .main__contact iframe {
        height: 82vh;
        width: 100%;
    }

    .footer__top--newsletter {
        padding-right: 20vw;
    }

}
/* <== footer responsive ==> */

@media (max-width: 768px) {

    .footer__top {
        display: flex;
        flex-direction: column;
        margin-top: 3vh;
        background: white;
        gap: 6vh;
    }

    ul {
        gap: 2vh;
    }

    .footer__form {
        display: flex;
        flex-direction: column;
    }

    .footer__top--infos {
        display: flex;
        flex-direction: column;
        gap: 5vh;
    }

    .footer__top--infos div {
        gap: 2vh;
    }

    .footer__bottom {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 6vh;
    }

    .footer__bottom--copyright {
        order: 2;
    }

    .footer__bottom--legal {
        display: flex;
        flex-direction: column;
        padding-top: 2vh;
        order: 1;
        gap: 2vh;

    }

}