* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%
}

body {
    padding: 0 3vw;
    min-height: 100vh;
    font-family: 'Roboto';
    font-size: 1rem;
    line-height: 150%;
    font-weight: 400;

    h1 {
        font-size: 3.5rem;
        line-height: 120%;
    }

    h2 {
        font-size: 2.5rem;
        line-height: 120%;
    }

    h3 {
        font-size: 1.5rem;
        line-height: 140%;
    }

    h4 {
        font-size: 1rem;
    }

    .text__medium {
        font-size: 1.125rem;
    }

    .text__regular {
        font-size: 1rem;
    }

    .text__small {
        font-size: 0.875rem;
    }

    .text__tiny {
        font-size: 0.75rem;
    }
}

ul {
    list-style: none;
}


.header {
    padding-top: 1vh;
    height: 100px;
    color: black;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    width: 70px;
    height: 70px;
    background-image: url("../assets/logo.png");
    background-size: cover;
}

.header__nav {
    display: flex;
    min-width: 33vw;
    justify-content: space-evenly;
    align-items: baseline;
    flex-wrap: nowrap;
}

.header__nav--accueil,
.header__nav--apropos,
.header__nav--menu {
    width: 63px;
    height: 17px;
    font-size: 16px;
    color: black;
    text-decoration: none;
    border: none;
    cursor: pointer;
    gap: 30px;
}

.header__nav--reservation {
    width: 104px;
    height: 41px;
    background-color: black;
    color: aliceblue;
    font-size: 16px;
}

.main {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .main article {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {}

.main article {
    padding: 10vh 0;
    display: flex;
    gap: 8vw;

    .main__content--photoPaysage {
        width: 100%;
        max-height: 90vh;
        object-fit: cover;
    }

    .main__content--photoPortrait {
        height: 82vh;
        max-width: 40vw;
        object-fit: cover;
    }
    
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 50vw;
        gap: 3vh;
    }
    div {
        display: flex;
    }
}

.main__accueil {
    flex-direction: column;
    text-align: center;
    align-items: center;
    
}

.main__accueil--contact {
    width: 104px;
    height: 41px;
    background-color: whitesmoke;
    color: black;
    font-size: 16px;
}

.main__accueil--voirMenu {
    width: 104px;
    height: 41px;
    background-color: black;
    color: aliceblue;
    font-size: 16px;
}

.main__contact--text {
    display: grid;
    grid-template-columns: 1fr 38vw;
    width: 100%;
    ul{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 3vh;
        p {
            text-indent: 1.5rem;
        }
    }
    margin-bottom: 10vh;
}

.main__contact iframe {
    width: 100%;
    height: 85vh;
}

footer {
    display: grid;
    padding-block: 3vw;
    gap: 3vw;
    grid-template-rows: 3fr 1fr;
    background: white;
}

.footer-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    padding-bottom: 20px;
    ul {
        display: grid;
        align-items: center;
        list-style: none;
        padding: 0;
    }
    a {
        text-decoration: none;
        color: #333;
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

.newsletter {
    padding-right: 20vw;
}
.newsletter form {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.newsletter input {
    padding: 8px;
    flex: 1;
    border: 1px solid black;
}

.newsletter button {
    padding: 8px 15px;
    background: white;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}

.infos {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5vw;
    padding-right: 5vw;

    div {
        display: grid;
    }
}

.footer-bottom {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid black;
}

.legal a {
    margin-left: 15px;
    text-decoration: none;
    color: #333;
}


/* Animation sur le menu */

/* Cacher la checkbox */
.menu-toggle {
    display: none;
}

.header__nav {
    display: flex;
    gap: 20px;
}

/* Masquer le menu en mode mobile */
@media (max-width: 768px) {
    .header__nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background: rgb(212, 214, 215);
        padding: 10px;
        border-radius: 5px;
    }

    /* Afficher le menu quand la checkbox est cochée */
    .menu-toggle:checked + .menu-icon + .header__nav {
        display: flex;
    }

    .menu-icon {
        display: block;
        font-size: 24px;
        cursor: pointer;
        padding: 10px;
        background: white;
    }
}

/* Affichage normal sur desktop */
@media (min-width: 769px) {
    .menu-icon {
        display: none;
    }
}


/* <== footer responsive ==> */

@media (max-width: 768px) {

    .footer-top{
        display: flex;
        flex-direction: column;
        margin-top: 3vh;
        background: white;
        gap: 6vh;
    }
    ul{
        gap: 2vh;
    }

    .footer-form{
        display: flex;
        flex-direction: column;
    }

    .infos{
        display: flex;
        flex-direction: column;
        gap: 5vh;
    }
    .infos div{
        gap: 2vh;
    }

    .footer-bottom{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 6vh;
    }

    .copyright{
        order: 2;
    }

    .legal{
        display: flex;
        flex-direction: column;
        order: 1;
        gap: 2vh;

    }
    
}